.basic_logo{
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 90px;
    
}

.logo_img{
    position: absolute;
    padding: 0px;
    height: 60px;
}
.logo_caption{
    position: absolute;
    top: 45px;
    left: 15px;
    text-align: left;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.middle_row{
   display: flex;
    height: 150px;
    /* background-color: aqua; */
    justify-content: center;
    align-content: center;
}


.upload_container{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.header_message{
    font-size: xx-large;
    font-weight: 400;
    text-align: center;

}

.boxes_row{
    height: 220px;
    display: flex;
    align-content: center;
    justify-content: center;
    
}
.info_box{
    height: 220px;
    overflow: hidden;
    width: 18%; 
    background-color: gray;
    position: absolute;
    /* top: 20%; */
    padding: 10px;
}
.left_box{
    left: 25%; 
}

.right_box{
    left: 55%;
}

.title {
    color:white;
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
.content {
    font-size: 17pt;
    color: white;
    text-align: left;
    font-weight: 600;
}

.policy{
    position: absolute;
    bottom:10;
    right:10;
}
