
.Circle-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 100px;
    pointer-events: none;
  }

 
  
  @media (prefers-reduced-motion: no-preference) {
    .Circle-logo {
      animation: Circle-logo-spin infinite 10s linear;
    }
  }

  @keyframes Circle-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }