.upload{
    position: absolute;
    background-color: black;
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    font-size: large;
    text-align: center;
    margin: auto;
    top:25%;
    padding-top: 15px;
}

.submission{
    background-color: brown;
    position: relative;
}
.error_message{
    color: red;
    position: absolute;
    top: 45%;
    right: 20%;
}
input[type="file"] {
    display: none;
    
}

