.element{
    background-color: lightgrey;
    padding:0px;
    border:0;
    font-weight: bold;
}


.tableRow{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}


.delete{
    background-color: black;
    color:white;
    font-size: 8pt;
}

.header{
    width:12.5%;
    padding: 0;
    margin: 0;
}
